
	<ul class="list-unstyled">
    <li>Description: <%= description %></li>
    <li>DateStart: <%= start %></li>
    <li>DateFinish: <%= finish %></li>
    <li>PM: <%= pm.first_name + " " + pm.last_name %> </li>
    <li>Role: <%= role %> </li>
</ul>


